<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Error</title>
  <style>
    body {
			text-align: justify;
		}
		h1 {
			margin-bottom: 2;
		}
  </style>
</head>
<body>
  <h1>Error!!! Page Not Available</h1>
	<a href="/">Return to Menu</a>	
</body>
</html>