<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Error</title>
  <style>
    div {
      font-size: 1em;
      margin: 0.3em 0;
    }
  </style>
</head>
<body>
  <div><%= error %></div>
  <a href="<%= link %>">Return to Menu</a>
</body>
</html>